 
 *{
    margin:0px;
    font-family: 'visitor1'
 }
 body {
    font-size: 30px;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    margin-top: 10px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::after {
    content: "|||";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    font-size: 20px;
    display:flex;
    width: fit-content;
    border-radius: 10px;
    /* background-color: hsla(120, 100%, 50%, 0.3); */
    background-image: url(/src/assets/menupixel.jpg);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    color:burlywood;
    margin-top: 5px;
    padding-bottom:10px;
    display: flex;
    flex-direction: row;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 5px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {

    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }

.search-form{
    margin-top:10px;
    display:flex;
}

button{
    margin-left:10px;
    background-color:burlywood;
}

.buttonnav{
  margin-left:10px;
  background-color:burlywood;
  padding: 0px 20px;
}

.dropdown{
    margin-top:27px;
}

.form-control{
  height:50px;
}